<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"  href = "/layui2.3.0/css/layui.css" media="all" />
    <script type="text/javascript" src="/layui2.3.0/layui.js"></script>
    <link rel="stylesheet" href="/css/public.css" media="all" />
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/style.css" media="all" />
    <script type="text/javascript" src="/js/bodyTab.js"></script>
    <script type="text/javascript" src="/js/cache.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/jquery-2.0.0.min.js"></script>
    <meta charset="UTF-8"/>
    <title>新建组</title>
</head>
<body>
<div class="layui-container">
    <form class="layui-form" lay-filter="logicTableDetail" action="" id="logicTableDetail">
        <div class="layui-form-item">
            <label class="layui-form-label">表名称</label>
            <div class="layui-input-block">
                <input type="text" name="actualTableName"  lay-verify="required" placeholder="表名称" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">组名称</label>
            <div class="layui-input-block">
            <select name="groupId" lay-verify="required" id="groupSelect">

            </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">数据源</label>
            <div class="layui-input-block">
            <select name="dataSourceId" lay-verify="required" id="dataSourceSelect">

            </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <label class="layui-form-mid layui-word-aux">
                <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            </label>
        </div>
    </form>
</div>


<script type="text/html" id="groupSelectTpl">
    <option value=""></option>
    {{#  layui.each(d, function(index, item){ }}
    <option value="{{item.groupId}}">{{item.groupName}}</option>
    {{# }) }}
</script>

<script type="text/html" id="dataSourceSelectTpl">
    <option value=""></option>
    {{#  layui.each(d, function(index, item){ }}
    <option value="{{item.dataSourceId}}">{{item.dataSourceName}}({{item.address}})</option>
    {{# }) }}
</script>

<script>
    var actualTable = {
        actualTableName:"",
        dataSourceId:"",
        groupId:""
    }


    layui.config({
        version: true
    }).use(['form','table', 'layedit', 'laydate','laytpl','element'], function() {
        var form = layui.form;
        var laytpl = layui.laytpl;
        var table = layui.table;
        var logicTableId =  layui.router().search.logicTableId;
        var projectId = parent.data.projectId;

        getGroupList();    //加载分组下拉框
        getDataSourceList();//加载数据源下拉框

        function getGroupList() {
            layui.jquery.ajax({
                url: "/group/byLogicTable",
                type: "GET",
                dataType: "json",
                data:{logicTableId:logicTableId},
                success: function (result) {
                    if(result.code == 1){
                        var data = result.data;
                        initTpl("groupSelectTpl","groupSelect",data);
                        form.render();
                    }
                },
                error: function (e) {
                    layer.msg("加载数据出错，请稍后重试！", {icon: 5});
                }
            });
        }

        function getDataSourceList() {
            layui.jquery.ajax({
                url: "/dataSource/list",
                type: "GET",
                dataType: "json",
                data:{projectId:projectId},
                success: function (result) {
                    if(result.code == 1){
                        var data = result.data;
                        initTpl("dataSourceSelectTpl","dataSourceSelect",data);
                        form.render();
                    }
                },
                error: function (e) {
                    layer.msg("加载数据出错，请稍后重试！", {icon: 5});
                }
            });
        }

        form.on('submit(formDemo)', function(obj){
            var data = obj.field;
            actualTable.actualTableName = data.actualTableName;
            actualTable.dataSourceId = data.dataSourceId;
            actualTable.groupId = data.groupId;
            create(actualTable);
            return false;
        });

        function initTpl(tpl,dom,data) {
            var tpl = document.getElementById(tpl).innerHTML;
            laytpl(tpl).render(data, function(render){
                document.getElementById(dom).innerHTML = render;
            });
        }

        function create() {
            var url = '/table/add';
            layui.jquery.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                data:JSON.stringify(actualTable),
                contentType:"application/json",
                success: function (result) {
                    if(result.code == 1){
                        layer.msg('操作成功', function(){
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    }else {
                        layer.alert("操作失败")
                    }
                }
            });
        }

    });
</script>
</body>
</html>
